.property{
    /* Properties */
    -fx-font-family: "Poppins";
    -fx-font-style: normal;

    -fx-font-weight: 700;
    -fx-font-size: 20px;
    -fx-line-height: 30px;
    -fx-letter-spacing: 0.03em;

    -fx-text-fill: #397E82;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.normallabel{
    -fx-font-family: "Baloo Bhaina 2";
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 15px;
    -fx-line-height: 25px;
    -fx-text-fill:#0E0E0E;
}
