
.root {
    -fx-font-family: 'Inter';
    -fx-font-size: 14;
}
.button{
    -fx-background-color: transparent;
}
.button:hover{
    -fx-background-color: #CCCCCC;
    -fx-text-fill: white;
}
#btn_dashboard{
    -fx-background-color: transparent;
    -fx-font-size: 32;
    -fx-font-weight: normal;
    -fx-text-alignment: left;
    -fx-text-fill: #624DE3;
}
#lbl_SenseXP{
    -fx-text-fill: #624DE3;
    -fx-font-weight: bold;
    -fx-font-size: 40;
}
#lbl_EditExperiment{
    -fx-text-fill: #624DE3;
    -fx-font-size: 36;
}




#btn_menu{
    -fx-pref-height: 39;
    -fx-pref-width: 39;
    -fx-background-image: url('/static/images/menu.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover; /* or contain depending on your preference */
}
#btn_edit{
    -fx-pref-height: 39;
    -fx-pref-width: 39;
    -fx-background-image: url('/static/images/btn_edit.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover; /* or contain depending on your preference */
}


#avatarImageView{
    -fx-pref-height: 48;
    -fx-pref-width: 48;
}

#textResult{
    -fx-min-width: 812px;
    -fx-max-width: 812px;
    -fx-min-height: 644px;
    -fx-max-height: 644px;
    -fx-padding: 5px 0px 5px 0px;
    -fx-border-radius: 20px 0px 0px 0px;
    -fx-border: 1px 0px 0px 0px;

}
#headPanel{

    -fx-background-color: #CAD1D040;

}
#dashboardPanel,#DashBoard,#DashBoard1,#right{
    -fx-background-color: #FFFFFF;
}
.root {
    -fx-font-family: 'Inter';
    -fx-font-size: 14;
}
#lbl_DashBoard{
    -fx-text-fill: #624DE3;
    -fx-font-size: 36;
}
#txt_searchBar{


    -fx-pref-width: 441px;
    -fx-pref-height: 32px;
    -fx-border-color: #9E9E9E;
    -fx-border-style: solid ;


    -fx-border-radius: 8px;



}
#btn_dropDown{

    -fx-font-weight: normal;
    -fx-font-size: 12px;

    -fx-pref-width: 46px;
    -fx-pref-height: 31px;


}
#showLabel,#entriesLabel{
    /* Show */

    -fx-pref-width: 40px;
    -fx-pref-height: 15px;

    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 12px;
    -fx-line-height: 15px;
    /* identical to box height */

    -fx-text-fill: #000000;




}
#btn_AddExperiment{
    /* Frame 17 */

    /* Auto layout */
    -fx-text-fill: white;
    -fx-font-weight: bold;

    -fx-pref-width: 151px;
    -fx-pref-height: 32px;

    -fx-background-color: #624DE3;
    -fx-border-radius: 8px;



}
.stackpane{
    -fx-background-color: white;

}
#lbl_ID{


    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;

    -fx-font-weight: bold;
    -fx-text-fill: black;
    -FX-font-size: 14px;
    /* ID */

}
#textFrame{
    -fx-min-width: 806px;
    -fx-max-width: 806px;
    -fx-min-height: 311px;
    -fx-max-height: 311px;
    -fx-padding: 5px 0px 5px 0px;
    -fx-border-radius: 20px 0px 0px 0px;
    -fx-border: 1px 0px 0px 0px;

}
#Properties{
    /* Frame 26937 */

    -fx-box-sizing: border-box;

    -fx-min-width: 810px;
    -fx-max-width: 810px;
    -fx-min-height: 275px;
    -fx-max-height: 275px;




    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
#lbl_backgroundColor,#lbl_textColor,#lbl_font,#lbl_startDelay, #lbl_endDelay, #lbl_disable,#lbl_instruction,#lbl_instruction,#lbl_timeToWait,
#lbl_soundDisplay,#lbl_question,#lbl_storeResponse,#lbl_ButtonText,#lbl_help,#lbl_playSound, #propertiesLabel, #radioButtonAvailable,#lbl_containStage,#lbl_minimumTime,#lbl_lowAnchor{


    -fx-pref-width: 375px;
    -fx-pref-height: 21px;

    -fx-font-family: 'Poppins';
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    line-height: 24px;
    -fx-letter-spacing: 0.03em;

    -fx-text-color: #181818;

}
#ChangeButton,#ChangeButton1,#ChangeButton2,#ChangeButton3{
    /* Frame 26919 */
    /* Change */



    -fx-font-family: 'Poppins';
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 16px;
    line-height: 24px;
    -fx-text-alignment: center;


    -fx-text-fill: #636364;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;


    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    -fx-align-items: flex-start;
    -fx-padding: 0px 27px 0px 0px;

    -fx-pref-width: 110px;
    -fx-pref-height: 30px;
    -fx-border:  1px 0px 0px 0px;

    -fx-border-color: #696969;
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-alignment: center;

}
#textField1{






}
#timeField,#timeField2
{
    -fx-border-color: #696969;
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-alignment: center;}
.propertiesTextField{
    -fx-border-color: #696969;
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-alignment: center;

}
.text-area{
    -fx-border-color: #696969;
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-alignment: center;
    -fx-box-sizing: border-box;
}
#mainBar{

    -fx-background-color: #FFFF;

}
#DashBoardButton1{
    -fx-font-family: 'Montserrat';
    -fx-font-weight: normal;
    -fx-align-items: center;
    -fx-padding: 16px;
    -fx-gap: 16px;
    -fx-text-alignment: center;
    -fx-font-size: 16px;


    -fx-text-fill: #000;



    -fx-background-color: #FFFFFF;
    -fx-border-radius: 5px;
}
#DashBoardButton2,#DashBoardButton3,#DashBoardButton4,#DashBoardButton5,#DashBoardButton6{
    -fx-font-family: 'Montserrat';
    -fx-font-weight: normal;
    -fx-align-items: center;
    -fx-padding: 16px;
    -fx-gap: 16px;
    -fx-text-alignment: center;
    -fx-font-size: 16px;


    -fx-text-fill: #000;
    -fx-background-color: #F7F6FE
}
#lbl_iD,#lbl_creator,#lbl_experimentName,#lbl_currentVersion,#lbl_result,#lbl_lastM,#lbl_createDate,#lbl_Option
,#ExperimentdesLabel,#AdditionNoteLabel,#FileLabel,#NameLabel{
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 700;
    -fx-align-items: center;
    -fx-padding: 16px;
    -fx-gap: 14px;
    -fx-text-alignment: center;
    -fx-font-size: 16px;
}
#lbl_show,#lbl_entries{
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 500;
    -fx-font-size: 12px;
}
.scroll-pane{
    -fx-background-color: transparent;
    -fx-border-color: derive(gray,100%);
    -fx-padding: 0px;
}
.scroll-pane .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}
.scroll-pane .scroll-bar:horizontal{
    -fx-opacity: 0;
    -fx-pref-width: 0;
}
.scroll-pane .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-background-radius:0em;
    -fx-border-radius: 2em;
    -fx-border-color: transparent


}
.scroll-pane .scroll-bar:horizontal .decrement-button{
    -fx-padding: 0 ,0 ,10,0;
    -fx-background-color: transparent;
    -fx-background-radius:0em;



}
.scroll-pane .scroll-bar:vertical .decrement-button{
    -fx-background-color: transparent;
    -fx-background-radius:0em;
    -fx-padding: 0 10  0  0;

}
.scroll-pane .scroll-bar:vertical .increment-arrow,
.scroll-pane .scroll-bar:vertical .decrement-arrow{

    -fx-padding: -2;

}
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #655E95;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

#lbl_TasteTestItemLable,#SoundSelectTionLabel {
    /* Taste Test Item Selection */


    -fx-font-family: 'Inter';
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 32px;

    align-items: center;

    -fx-text-fill: #397E82;


}

#AddButton,#SelectAllButton,#SelectNoneButton,#CloseButton,#SaveButton2,#RefreshButton,#StopButton,#RemoveButton,#PlayButton{
    /* Button 6 */


    -fx-background-color: #397E82;




    -fx-border-radius: 20px 20px 20px 20px;
    /* Add */


    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 13px;
    -fx-line-height: 16px;
    -fx-display: flex;
    -fx-align-items: center;

    -fx-text-fill: #F7F6FE;
    -fx-padding: 4px 23px, 4px 23px;
    -fx-background-radius: 10px 10px 10px 10px;




}

.check-box {
    -fx-max-width: 28px;
    -fx-max-height: 28px;
    -fx-background-color: white;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 3px;
}

.text-field {
    -fx-border-color: black;
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-alignment: center;
}
#AddFoodPane,#NewExPane,#AddsoundPane,#ImportSoundPane{



    -fx-background-color: #FFFFFF;

    -fx-box-shadow: inset 0px -20px 0px rgba(0, 0, 0, 0.25);
    -fx-border-radius: 14px 14px 14px 14px;
    -fx-border-color: #000;



}
#AddFoodLabel{
    /* Add Food */


    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 30px;
    line-height: 41px;
    /* identical to box height */
    -fx-text-align: center;

    -fx-text-fill: #1E1E1E;


}
#please1Label{
    /* Please type the name of the new food below: */



    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 15px;
    line-height: 41px;
    /* identical to box height */
    -fx-text-align: center;

    -fx-text-fill: #1E1E1E;

}
#SaveButton1,#CancelButton1{
    /* Button 15 */



    -fx-background-color: #397E82;




    -fx-border-radius: 20px 20px 20px 20px;
    /* Add */


    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 13px;
    -fx-line-height: 16px;
    -fx-display: flex;
    -fx-align-items: center;

    -fx-text-fill: #F7F6FE;
    -fx-padding: 4px 23px, 4px 23px;
    -fx-background-radius: 20px 20px 20px 20px;


}
#NewExLabel{
    /* New experiment */



    -fx-font-family: 'Poppins';
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.03em;

    -fx-text-fill: #655E95;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
#ImportSoundLabel{
    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 30px;
    line-height: 41px;
    /* identical to box height */
    -fx-text-align: center;

    -fx-text-fill: #655E95;
}
#Browsebutton{
    -fx-text-fill: #624DE3;

    -fx-padding: 4px 23px, 4px 23px;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-background-color: derive(#85858540,90%);

}
.body{
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100%, 100%;
}
.btn_dashboardButton{

    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 14px;
    -fx-text-fill: #000000;

    -fx-max-width: 217px;
    -fx-max-height: 56px;
    -fx-min-width: 217px;
    -fx-min-height: 56px;

    -fx-border-radius: 5px 5px 5px 5px;

}



