#SideBar{
    -fx-background-color: #F7F6FE
}
#SideBar2{
    -fx-background-color: #FFFF
}
.root {
    -fx-font-family: 'Inter';
    -fx-font-size: 14;
}
.button{
    -fx-background-color: transparent;
}
.button:hover{
    -fx-background-color: #CCCCCC;
    -fx-text-fill: white;
}
#btn_dashboard{
    -fx-background-color: transparent;
    -fx-font-size: 32;
    -fx-font-weight: normal;
    -fx-text-alignment: left;
    -fx-text-fill: #624DE3;
}

#txt_searchBar{


    -fx-pref-width: 441px;
    -fx-pref-height: 32px;
    -fx-border-color: #9E9E9E;
    -fx-border-style: solid ;


    -fx-border-radius: 8px;



}
#btn_dropDown{

    -fx-font-weight: normal;
    -fx-font-size: 12px;

    -fx-pref-width: 46px;
    -fx-pref-height: 31px;


}
#showLabel,#entriesLabel{
    /* Show */

    -fx-pref-width: 40px;
    -fx-pref-height: 15px;

    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 12px;
    -fx-line-height: 15px;
    /* identical to box height */

    -fx-text-fill: #000000;




}

.stackpane{
    -fx-background-color: white;

}
#lbl_ID{


    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;

    -fx-font-weight: bold;
    -fx-text-fill: black;
    -FX-font-size: 14px;
    /* ID */

}
#textFrame{
    -fx-min-width: 806px;
    -fx-max-width: 806px;
    -fx-min-height: 311px;
    -fx-max-height: 311px;
    -fx-padding: 5px 0px 5px 0px;
    -fx-border-radius: 20px 0px 0px 0px;
    -fx-border: 1px 0px 0px 0px;

}
#Properties{
    /* Frame 26937 */

    -fx-box-sizing: border-box;

    -fx-min-width: 810px;
    -fx-max-width: 810px;
    -fx-min-height: 275px;
    -fx-max-height: 275px;




    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}


.text-area{
    -fx-border-color: #696969;
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-alignment: center;
    -fx-box-sizing: border-box;
}



    #lbl_TasteTestItemLable,#SoundSelectTionLabel {
        -fx-font-family: 'Inter';
        -fx-font-style: normal;
        -fx-font-weight: bold;
        -fx-font-size: 32px;

        align-items: center;

        -fx-text-fill: #397E82;


    }

    #AddButton,#SelectAllButton,#SelectNoneButton,#CloseButton,#SaveButton2,#RefreshButton,#StopButton,#RemoveButton,#PlayButton{
        /* Button 6 */


        -fx-background-color: #624DE3;




        -fx-border-radius: 20px 20px 20px 20px;
        /* Add */


        -fx-font-family: 'Montserrat';
        -fx-font-style: normal;
        -fx-font-weight: 400;
        -fx-font-size: 13px;
        -fx-line-height: 16px;
        -fx-display: flex;
        -fx-align-items: center;

        -fx-text-fill: #F7F6FE;
        -fx-padding: 4px 23px, 4px 23px;
        -fx-background-radius: 10px 10px 10px 10px;

    }

    .check-box {
        -fx-max-width: 28px;
        -fx-max-height: 28px;
        -fx-background-color: white;

        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;

    }

    .check-box .box {
        -fx-background-color: white;
        -fx-border-color: grey;
        -fx-border-radius: 3px;
    }

    .text-field {
        -fx-border-color: black;
        -fx-border-radius: 5px 5px 5px 5px;
        -fx-alignment: center;
    }
    #AddFoodPane,#NewExPane,#AddsoundPane,#ImportSoundPane{



        -fx-background-color: #FFFFFF;

        -fx-box-shadow: inset 0px -20px 0px rgba(0, 0, 0, 0.25);
        -fx-border-radius: 14px 14px 14px 14px;
        -fx-border-color: #000;



    }
    #AddFoodLabel{
        /* Add Food */


        -fx-font-family: 'Montserrat';
        -fx-font-style: normal;
        -fx-font-weight: 400;
        -fx-font-size: 30px;
        line-height: 41px;
        /* identical to box height */
        -fx-text-align: center;

        -fx-text-fill: #1E1E1E;


    }
    #please1Label{
        /* Please type the name of the new food below: */



        -fx-font-family: 'Montserrat';
        -fx-font-style: normal;
        -fx-font-weight: 400;
        -fx-font-size: 15px;
        line-height: 41px;
        /* identical to box height */
        -fx-text-align: center;

        -fx-text-fill: #1E1E1E;

    }
    #SaveButton1,#CancelButton1{
        /* Button 15 */



        -fx-background-color: #624DE3;




        -fx-border-radius: 20px 20px 20px 20px;
        /* Add */


        -fx-font-family: 'Montserrat';
        -fx-font-style: normal;
        -fx-font-weight: 400;
        -fx-font-size: 13px;
        -fx-line-height: 16px;
        -fx-display: flex;
        -fx-align-items: center;

        -fx-text-fill: #F7F6FE;
        -fx-padding: 4px 23px, 4px 23px;
        -fx-background-radius: 20px 20px 20px 20px;


    }
    #NewExLabel{
        /* New experiment */



        -fx-font-family: 'Poppins';
        -fx-font-style: normal;
        -fx-font-weight: 700;
        -fx-font-size: 32px;
        line-height: 48px;
        letter-spacing: 0.03em;

      -fx-text-fill: #655E95;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;

    }
    #ImportSoundLabel{
        -fx-font-family: 'Montserrat';
        -fx-font-style: normal;
        -fx-font-weight: 400;
        -fx-font-size: 30px;
        line-height: 41px;
        /* identical to box height */
        -fx-text-align: center;

        -fx-text-fill: #655E95;
    }
    #Browsebutton{
        -fx-text-fill: #624DE3;

        -fx-padding: 4px 23px, 4px 23px;
        -fx-background-radius: 10px 10px 10px 10px;
        -fx-background-color: derive(#85858540,90%);

    }
    .body{
        -fx-background-size: contain;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
        -fx-background-size: 100%, 100%;
    }
#btn_add,#btn_selectAll,#btn_selectNone,#btn_close,#SaveButton2,#RefreshButton,#StopButton,#RemoveButton,#PlayButton{
    /* Button 6 */


    -fx-background-color: #397E82;




    -fx-border-radius: 20px 20px 20px 20px;
    /* Add */


    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 13px;
    -fx-line-height: 16px;
    -fx-display: flex;
    -fx-align-items: center;

    -fx-text-fill: #F7F6FE;
    -fx-padding: 4px 23px, 4px 23px;
    -fx-background-radius: 10px 10px 10px 10px;
}
#mainBar{

    -fx-background-color: #FFFF;

}





