.body{
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button:hover{
    -fx-background-color: #CCCCCC;
}
.text-field {
    -fx-border-color: black;
    -fx-border-radius: 5px 5px 5px 5px;
}

#txt_searchBar{
    -fx-pref-width: 441px;
    -fx-pref-height: 32px;
    -fx-border-color: #9E9E9E;
    -fx-border-style: solid ;

    -fx-text-alignment: CENTER-LEFT;
    -fx-border-radius: 8px;
}
#btn_dropDown{

    -fx-font-weight: normal;
    -fx-font-size: 12px;

    -fx-pref-width: 46px;
    -fx-pref-height: 31px;


}
#showAndEntries{

    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 14px;
    -fx-line-height: 15px;

    -fx-text-fill: #000000;

}
#btn_AddExperiment, #btn_redo{
    /* Auto layout */
    -fx-text-fill: white;
    -fx-font-weight: bold;

    -fx-background-color: #397E82;
    -fx-border-radius: 8px;

}
.stackpane{
    -fx-background-color: white;

}
#lbl_SenseXP{
    -fx-font-family: "Baloo Bhaina 2";
    -fx-text-fill: #397E82;
    -fx-font-weight: bold;
    -fx-font-size: 40;
}
#lbl_ID{


    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;

    -fx-font-weight: bold;
    -fx-text-fill: black;
    -FX-font-size: 14px;
    /* ID */

}

.text-area{
    -fx-border-color: #696969;
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-box-sizing: border-box;
}
#mainBar{
    -fx-background-color: #FFFFFF;
}


#lbl_show,#lbl_entries{
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 500;
    -fx-font-size: 12px;
}
.scroll-pane{
    -fx-background-color: transparent;
    -fx-border-color: derive(rgb(128, 128, 128),100%);
    -fx-padding: 0px;
}
.scroll-pane .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}
.scroll-pane .scroll-bar:horizontal{
    -fx-opacity: 0;
    -fx-pref-width: 0;
}
.scroll-pane .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-background-radius:0em;
    -fx-border-radius: 2em;
    -fx-border-color: transparent
}
.scroll-pane .scroll-bar:horizontal .decrement-button{
    -fx-padding: 0 ,0 ,10,0;
    -fx-background-color: transparent;
    -fx-background-radius:0em;
}

.scroll-pane .scroll-bar:vertical .decrement-button{
    -fx-background-color: transparent;
    -fx-background-radius:0em;
    -fx-padding: 0 10  0  0;
}
.scroll-pane .scroll-bar:vertical .increment-arrow,
.scroll-pane .scroll-bar:vertical .decrement-arrow{
    -fx-padding: -2;
}
.check-box {
    -fx-max-width: 28px;
    -fx-max-height: 28px;
    -fx-background-color: white;

}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 3px;
}

.sidebar_left{
    -fx-background-color: #F1F6FB;
}


.btn_dashboardButton {
    -fx-background-color: transparent;
    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
    -fx-border-radius: 5px 5px 5px 5px;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}
.table-row-cell:odd{
    -fx-background-color: #FFFFFF;
}
.table-row-cell:even{
    -fx-background-color: #E7F0F8;
}
.table-view .column-header {
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 700;
    -fx-align-items: center;
    /*-fx-padding: 16px;*/
    /*-fx-gap: 14px;*/
    -fx-text-alignment: center;
    -fx-font-size: 16px;

    -fx-background-color: #FFFFFF;
    -fx-gap: 16px;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;

    -fx-pref-height: 66px;
}
.table-view .table-column {
    -fx-alignment: CENTER;
}

.combo-box{

    -fx-pref-width: 43px;
    -fx-pref-height: 31px;

    -fx-background-color: #E0E0E0;
    -fx-border-radius: 8px;

}

.no-grid-lines .table-row-cell,
.no-grid-lines .table-cell {
    -fx-border-width: 0;
}









