
.button{
    -fx-background-color: transparent;

}
.button:hover, #btn_bind:hover, #btn_up:hover, #btn_down:hover, #btn_cross:hover{
    -fx-background-color: #D5E9EA;
    -fx-text-fill: black;
}


.button:disabled{
    -fx-background-color: #CCCCCC;
    -fx-text-fill: black;
}
.tooltip {
    -fx-background-color: #e3e2e2;
    -fx-text-fill: #397E82;
    -fx-font-size: 18px;
    -fx-padding: 8px;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}

#lbl_SenseXP{
    -fx-font-family: "Baloo Bhaina 2";
    -fx-text-fill: #397E82;
    -fx-font-weight: bold;
    -fx-font-size: 40;
}
.lbl_EditExperiment{
    -fx-font-family: "Baloo Bhaina 2";
    -fx-text-fill: #397E82;
    -fx-font-size: 36;
    -fx-font-weight: 700;
}

.btn_up{
    -fx-pref-height: 55px;
    -fx-pref-width: 55px;
    -fx-background-image: url('/static/images/btn_up.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover; /* or contain depending on your preference */
}
.btn_down{
    -fx-pref-height: 55;
    -fx-pref-width: 55;
    -fx-background-image: url('/static/images/btn_down.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover; /* or contain depending on your preference */
}
.btn_cross{
    -fx-pref-height: 55;
    -fx-pref-width: 55;
    -fx-background-image: url('/static/images/cross.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover; /* or contain depending on your preference */
}
#btn_menu{
    -fx-pref-height: 39;
    -fx-pref-width: 39;

    -fx-background-image: url('/static/images/btn_menu.png');

    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover; /* or contain depending on your preference */
}

#btn_bind{
    -fx-pref-width: 103px;
    -fx-pref-height: 36px;
    -fx-background-color: #397E82;
    -fx-background-radius: 9px;

    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-line-height: 18px;

    -fx-text-fill: #F7F6FE;
}

#avatarImageView{
    -fx-pref-height: 48;
    -fx-pref-width: 48;
}

.textResult{
    -fx-min-width: 812px;
    -fx-max-width: 812px;
    -fx-min-height: 644px;
    -fx-max-height: 644px;
    -fx-padding: 5px 5px 5px 5px;
    -fx-border-radius: 20px 20px 20px 20px;
    -fx-border-color:#0E0E0E ;

}
#headPanel{

    -fx-background-color: #CAD1D040;

}
#dashboardPanel,#DashBoard,#DashBoard1,#right{
    -fx-background-color: #FFFFFF;
}
.root {
    -fx-font-family: 'Inter';
    -fx-font-size: 14;
}

#txt_searchBar{


    -fx-pref-width: 441px;
    -fx-pref-height: 32px;
    -fx-border-color: #9E9E9E;
    -fx-border-style: solid ;


    -fx-border-radius: 8px;



}
#btn_dropDown{

    -fx-font-weight: normal;
    -fx-font-size: 12px;

    -fx-pref-width: 46px;
    -fx-pref-height: 31px;


}
#showLabel,#entriesLabel {
    /* Show */

    -fx-pref-width: 40px;
    -fx-pref-height: 15px;

    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 12px;
    -fx-line-height: 15px;
    /* identical to box height */

    -fx-text-fill: #000000;

}



#btn_SAVE{
    display: flex;
    flex-direction: row;
    justify-content: center;
    -fx-align-items: center;
    -fx-padding: 18px 20px;
    -fx-gap: 20px;

    -fx-pref-width: 103px;
    -fx-pref-height: 36px;

    -fx-background-color: #397E82;
    -fx-border-radius: 9px;
}

.stackpane{
    -fx-background-color: white;

}
#lbl_ID{


    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;

    -fx-font-weight: bold;
    -fx-text-fill: black;
    -FX-font-size: 14px;
    /* ID */

}
#textFrame{
    -fx-min-width: 806px;
    -fx-max-width: 806px;
    -fx-min-height: 311px;
    -fx-max-height: 311px;
    -fx-padding: 5px 0px 5px 0px;
    -fx-border-radius: 20px 0px 0px 0px;
    -fx-border: 1px 0px 0px 0px;

}


.text-area{
    -fx-border-color: #696969;
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-box-sizing: border-box;
}
#mainBar{

    -fx-background-color: #FFFF;

}
#DashBoardButton1{
    -fx-font-family: 'Montserrat';
    -fx-font-weight: normal;
    -fx-align-items: center;
    -fx-padding: 16px;
    -fx-gap: 16px;
    -fx-text-alignment: center;
    -fx-font-size: 16px;


    -fx-text-fill: #000;



    -fx-background-color: #FFFFFF;
    -fx-border-radius: 5px;
}
#DashBoardButton2,#DashBoardButton3,#DashBoardButton4,#DashBoardButton5,#DashBoardButton6{
    -fx-font-family: 'Montserrat';
    -fx-font-weight: normal;
    -fx-align-items: center;
    -fx-padding: 16px;
    -fx-gap: 16px;
    -fx-text-alignment: center;
    -fx-font-size: 16px;


    -fx-text-fill: #000;
    -fx-background-color: #F7F6FE
}
#lbl_iD,#lbl_creator,#lbl_experimentName,#lbl_currentVersion,#lbl_result,#lbl_lastM,#lbl_createDate,#lbl_Option
,#ExperimentdesLabel,#AdditionNoteLabel,#FileLabel,#NameLabel{
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 700;
    -fx-align-items: center;
    -fx-padding: 16px;
    -fx-gap: 14px;
    -fx-text-alignment: center;
    -fx-font-size: 16px;
}
#lbl_show,#lbl_entries{
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 500;
    -fx-font-size: 12px;
}
.scroll-pane{
    -fx-background-color: transparent;
    -fx-border-color: derive(rgb(128, 128, 128),100%);
    -fx-padding: 0px;
}
.scroll-pane .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}
.scroll-pane .scroll-bar:horizontal{
    -fx-opacity: 0;
    -fx-pref-width: 0;
}
.scroll-pane .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-background-radius:0em;
    -fx-border-radius: 2em;
    -fx-border-color: transparent


}
.scroll-pane .scroll-bar:horizontal .decrement-button{
    -fx-padding: 0 ,0 ,10,0;
    -fx-background-color: transparent;
    -fx-background-radius:0em;



}
.scroll-pane .scroll-bar:vertical .decrement-button{
    -fx-background-color: transparent;
    -fx-background-radius:0em;
    -fx-padding: 0 10  0  0;

}
.scroll-pane .scroll-bar:vertical .increment-arrow,
.scroll-pane .scroll-bar:vertical .decrement-arrow{

    -fx-padding: -2;

}
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #397E82;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}



.check-box {
    -fx-max-width: 28px;
    -fx-max-height: 28px;
    -fx-background-color: white;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 3px;
}


#AddFoodPane,#NewExPane,#AddsoundPane,#ImportSoundPane{



    -fx-background-color: #FFFFFF;

    -fx-box-shadow: inset 0px -20px 0px rgba(0, 0, 0, 0.25);
    -fx-border-radius: 14px 14px 14px 14px;
    -fx-border-color: #000;



}
#AddFoodLabel{
    /* Add Food */


    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 30px;
    line-height: 41px;
    /* identical to box height */
    -fx-text-align: center;

    -fx-text-fill: #1E1E1E;


}
#please1Label{
    /* Please type the name of the new food below: */



    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 15px;
    line-height: 41px;
    /* identical to box height */
    -fx-text-align: center;

    -fx-text-fill: #1E1E1E;

}


.menuButton{
    -fx-max-width: 250px;
    -fx-max-height: 30px;
    -fx-background-color: #397E82;
    -fx-background-radius: 20px 20px 20px 20px;

    /* Add Notice Stage */



    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 14px;

    -fx-align-items: center;
    -fx-text-align: center;


    -fx-text-fill: white;
}



.btn_bell{
    -fx-pref-height: 39;
    -fx-pref-width: 39;
    -fx-background-image: url('/static/images/bell.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}
.Name{
    /* Nguyễn */


    -fx-font-family: "Baloo Bhaina 2";
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 11px;
    -fx-line-height: 22px;
    -fx-text-fill:#0E0E0E;




}
.Nickname{
    /* mymia */



    -fx-font-family: 'Inter';
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 14px;
    -fx-text-fill: #397E82;





}
.btn_copy{
    /* gg:copy */

    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-image: url('/static/images/btn_copy.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}
.textTreeview{
    -fx-min-width: 806px;
    -fx-max-width: 806px;
    -fx-min-height: 311px;
    -fx-max-height: 311px;
    -fx-padding: 5px 5px 5px 5px;
    -fx-border-radius: 20px 20px 20px 20px;
    -fx-border-color:#0E0E0E ;
}
#propertiesPane {
    -fx-padding: 5px 5px 5px 5px;
    -fx-border-radius: 10px 10px 10px 10px;
    -fx-border-color: #0E0E0E;
    -fx-background-color: white;
    -fx-background-radius: 10px 10px 10px 10px;
}

#listObject{
    -fx-border-color: black;
    -fx-border-radius: 10px ;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
}
