
.button{
    -fx-background-color: transparent;
}
.button:hover{
    -fx-background-color: #CCCCCC;
    -fx-text-fill: white;
}
#btn_dashboard{
    -fx-background-color: transparent;
    -fx-font-size: 32;
    -fx-font-weight: normal;
    -fx-text-alignment: left;
    -fx-text-fill: #624DE3;
}
#lbl_SenseXP{
    -fx-font-family: "Baloo Bhaina 2";
    -fx-text-fill: #397E82;
    -fx-font-weight: bold;
    -fx-font-size: 40;
}
.lbl_EditExperiment{
    -fx-font-family: "Baloo Bhaina 2";
    -fx-text-fill: #397E82;
    -fx-font-size: 36;
    -fx-font-weight: 700;
}


.btn_up{
    -fx-pref-height: 55;
    -fx-pref-width: 55;
    -fx-background-image: url('/static/images/btn_up.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover; /* or contain depending on your preference */
}
.btn_down{
    -fx-pref-height: 55;
    -fx-pref-width: 55;
    -fx-background-image: url('/static/images/btn_down.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover; /* or contain depending on your preference */
}
.btn_cross {
    -fx-pref-height: 50;
    -fx-pref-width: 50;
    -fx-background-image: url('/static/images/cross.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.btn_copy{
    /* gg:copy */

    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-image: url('/static/images/btn_copy.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}
#btn_menu{
    -fx-pref-height: 39;
    -fx-pref-width: 39;
    -fx-background-image: url('/static/images/btn_menu.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover; /* or contain depending on your preference */
}
#avatarImageView{
    -fx-pref-height: 48;
    -fx-pref-width: 48;
}

#textResult{
    -fx-min-width: 812px;
    -fx-max-width: 812px;
    -fx-min-height: 644px;
    -fx-max-height: 644px;
    -fx-padding: 5px 0px 5px 0px;
    -fx-border-radius: 20px 0px 0px 0px;
    -fx-border: 1px 0px 0px 0px;

}
#headPanel{

    -fx-background-color: #CAD1D040;

}
#dashboardPanel,#DashBoard,#DashBoard1,#right{
    -fx-background-color: #FFFFFF;
}
.root {
    -fx-font-family: 'Inter';
    -fx-font-size: 14;
}
#lbl_DashBoard{
    -fx-text-fill: #624DE3;
    -fx-font-size: 36;
}
#txt_searchBar{


    -fx-pref-width: 441px;
    -fx-pref-height: 32px;
    -fx-border-color: #9E9E9E;
    -fx-border-style: solid ;


    -fx-border-radius: 8px;



}
#btn_dropDown{

    -fx-font-weight: normal;
    -fx-font-size: 12px;

    -fx-pref-width: 46px;
    -fx-pref-height: 31px;


}

.stackpane{
    -fx-background-color: white;

}
#lbl_ID{


    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;

    -fx-font-weight: bold;
    -fx-text-fill: black;
    -FX-font-size: 14px;
    /* ID */

}
#textFrame{
    -fx-min-width: 806px;
    -fx-max-width: 806px;
    -fx-min-height: 311px;
    -fx-max-height: 311px;
    -fx-padding: 5px 0px 5px 0px;
    -fx-border-radius: 20px 0px 0px 0px;
    -fx-border: 1px 0px 0px 0px;

}
#Properties{
    /* Frame 26937 */

    -fx-box-sizing: border-box;

    -fx-min-width: 810px;
    -fx-max-width: 810px;
    -fx-min-height: 275px;
    -fx-max-height: 275px;




    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
#lbl_backgroundColor,#lbl_textColor,#lbl_font,#lbl_startDelay, #lbl_endDelay, #lbl_disable,#lbl_instruction,#lbl_instruction,#lbl_timeToWait,
#lbl_soundDisplay,#lbl_question,#lbl_storeResponse,#lbl_ButtonText,#lbl_help,#lbl_playSound, #propertiesLabel, #radioButtonAvailable,#lbl_containStage,#lbl_minimumTime,#lbl_lowAnchor{


    -fx-pref-width: 375px;
    -fx-pref-height: 21px;

    -fx-font-family: 'Poppins';
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    line-height: 24px;
    -fx-letter-spacing: 0.03em;

    -fx-text-color: #181818;

}
#btn_changeBackGroudcolor,#btn_ChangeTextColor,#btn_changeFont,#btn_disable{
    -fx-padding: 0px 27px 0px 0px;
    -fx-alignment: center; /* Aligns both text and node content */
    -fx-max-width: 110px;
    -fx-max-height: 30px;
    -fx-min-width: 110px;
    -fx-min-height: 30px;
    -fx-border-color: #494949CC;
    -fx-border-radius: 5px;
    -fx-font-family: 'Poppins';
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 16px;
    -fx-text-fill: #636364;





}

#timeField,#timeField2
{
    -fx-border-color: #696969;
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-alignment: center;}
.propertiesTextField{
    -fx-border-color: #696969;
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-alignment: center;

}
.text-area{
    -fx-border-color: #696969;
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-alignment: center;
    -fx-box-sizing: border-box;
}
#mainBar{

    -fx-background-color: #FFFF;

}



.scroll-pane{
    -fx-background-color: transparent;

    -fx-padding: 0px;
    -fx-background-radius:0px 5px 0px 0px ;

}
.scroll-pane .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}
.scroll-pane .scroll-bar:horizontal{
    -fx-opacity: 0;
    -fx-pref-width: 0;
}
.scroll-pane .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-background-radius:2em;
    -fx-border-radius: 2em;
    -fx-border-color: transparent



}
.scroll-pane .scroll-bar:horizontal .decrement-button{
    -fx-padding: 0 ,0 ,10,0;
    -fx-background-color: transparent;
    -fx-background-radius:0em;



}
.scroll-pane .scroll-bar:vertical .decrement-button{
    -fx-background-color: transparent;
    -fx-background-radius:0em;
    -fx-padding: 0 10  0  0;

}
.scroll-pane .scroll-bar:vertical .increment-arrow,
.scroll-pane .scroll-bar:vertical .decrement-arrow{
    -fx-padding: -2;



}
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #397E82;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

#lbl_TasteTestItemLable,#SoundSelectTionLabel {
    /* Taste Test Item Selection */


    -fx-font-family: 'Inter';
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 32px;

    align-items: center;

    -fx-text-fill: #624DE3;


}

#AddButton,#SelectAllButton,#SelectNoneButton,#CloseButton,#SaveButton2,#RefreshButton,#StopButton,#RemoveButton,#PlayButton{
    /* Button 6 */


    -fx-background-color: #624DE3;




    -fx-border-radius: 20px 20px 20px 20px;
    /* Add */


    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 13px;
    -fx-line-height: 16px;
    -fx-display: flex;
    -fx-align-items: center;

    -fx-text-fill: #F7F6FE;
    -fx-padding: 4px 23px, 4px 23px;
    -fx-background-radius: 10px 10px 10px 10px;




}

.check-box {
    -fx-max-width: 28px;
    -fx-max-height: 28px;
    -fx-background-color: white;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 3px;
}

.text-field {
    -fx-border-color: black;
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-alignment: center;
}
#AddFoodPane,#NewExPane,#AddsoundPane,#ImportSoundPane{



    -fx-background-color: #FFFFFF;

    -fx-box-shadow: inset 0px -20px 0px rgba(0, 0, 0, 0.25);
    -fx-border-radius: 14px 14px 14px 14px;
    -fx-border-color: #000;



}
#AddFoodLabel{
    /* Add Food */


    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 30px;
    line-height: 41px;
    /* identical to box height */
    -fx-text-align: center;

    -fx-text-fill: #1E1E1E;


}
#please1Label{
    /* Please type the name of the new food below: */



    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 15px;
    line-height: 41px;
    /* identical to box height */
    -fx-text-align: center;

    -fx-text-fill: #1E1E1E;

}
#SaveButton1,#CancelButton1{
    /* Button 15 */



    -fx-background-color: #624DE3;




    -fx-border-radius: 20px 20px 20px 20px;
    /* Add */


    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 13px;
    -fx-line-height: 16px;
    -fx-display: flex;
    -fx-align-items: center;

    -fx-text-fill: #F7F6FE;
    -fx-padding: 4px 23px, 4px 23px;
    -fx-background-radius: 20px 20px 20px 20px;


}

#ImportSoundLabel{
    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 30px;
    line-height: 41px;
    /* identical to box height */
    -fx-text-align: center;

    -fx-text-fill: #655E95;
}
#Browsebutton{
    -fx-text-fill: #624DE3;

    -fx-padding: 4px 23px, 4px 23px;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-background-color: derive(#85858540,90%);

}
.body{
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100%, 100%;
}
.menuButton{
    -fx-max-width: 250px;
    -fx-max-height: 30px;
    -fx-background-color: #D5E9EA;
    -fx-background-radius: 20px 20px 20px 20px;
    /* Add Notice Stage */



    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 14px;

    -fx-align-items: center;
    -fx-text-align: center;

    -fx-color-fill: #1E1E1E;



}
.btn_bell{
    -fx-pref-height: 39;
    -fx-pref-width: 39;
    -fx-background-image: url('/static/images/bell.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}
.Name{
    /* Nguyá»…n */


    -fx-font-family: "Baloo Bhaina 2";
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 11px;
    -fx-line-height: 22px;
    -fx-text-fill:#0E0E0E;




}
.Nickname{
    /* mymia */



    -fx-font-family: 'Inter';
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 14px;
    -fx-text-fill: #397E82;




}
.btn_copy{
    /* gg:copy */

    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-image: url('/static/images/btn_copy.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}







