
.button:hover{
    -fx-background-color: #D5E9EA;
    -fx-text-fill: white;
}

.body{
    -fx-font-family: 'Poppins';
    -fx-font-style: normal;
}
.anchor-pane{
    -fx-background-color: white;
}
#lbl_NewExp{
    -fx-max-width: 794px;
    -fx-max-height: 53px;
    -fx-font-weight: 700;
    -fx-font-size: 32px;
    -fx-line-height: 48px;
    -fx-letter-spacing: 0.03em;

    -fx-text-fill: #397E82;

}

.label{
    -fx-max-width: 250px;
    -fx-max-height: 30px;
    -fx-font-weight: 500;
    -fx-font-size: 20px;
    -fx-line-height: 30px;
    -fx-letter-spacing: 0.03em;

    -fx-text-fill: #181818;
}

.text-field {
    -fx-padding: 0px 7px;

    -fx-max-width: 530px;
    -fx-max-height: 30px;

    -fx-border-color: rgba(73, 73, 73, 0.8);
    -fx-border-radius: 5px;

}

.text-area{
    -fx-max-width: 530px;
    -fx-max-height: 118px;

    -fx-border-color:rgba(73, 73, 73, 0.8);
    -fx-border-radius: 5px;

}


#btn_cancel, #btn_save{


    -fx-max-width: 103px;
    -fx-max-height: 36px;

    -fx-background-color: #397E82;
    -fx-background-radius: 9px;

    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 13px;
    -fx-line-height: 16px;
    -fx-display: flex;
    -fx-align-items: center;
    -fx-text-fill: #F7F6FE;
    /*-fx-padding: 4px 23px, 4px 23px;*/
    /*-fx-background-radius: 20px 20px 20px 20px;*/
}







