.anchor-pane{

    -fx-background-color: #FFFFFF;
    -fx-background-radius: 16px;
    -fx-border-width: 2px;
    -fx-border-color: #000000;
    -fx-box-shadow: inset 0px -20px 0px rgba(0, 0, 0, 0.25);
    -fx-border-radius: 14px;

}
#labelDelPrompt{


    -fx-font-family: 'Ubuntu';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 24px;
    -fx-line-height: 28px;
    /* identical to box height */

    -fx-text-fill: #000000;


}
.button{
    -fx-align-items: center;
    -fx-padding: 8px 23px;

    -fx-pref-width: 132px;
    -fx-prefheight: 57px;

    -fx-background-color: #F1F6FB;
    -fx-box-shadow: inset 0px 5px 5px rgba(85, 91, 110, 0.15);
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;

    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-font-size: 22px;
    -fx-line-height: 27px;
    -fx-text-align: center;

    -fx-text-fill: #0E0E0E;


}
.button:hover{
    -fx-background-color: #D5E9EA;
}

.button:selected{
    -fx-background-color: #D5E9EA;
    -fx-border-color: #397E82;
    -fx-border-width: 2px;
}
#labelWaiting{
    /* Waiting for you */

    -fx-position: absolute;
    -fx-pref-width: 382px;
    -fx-pref-height: 59px;
    -fx-eft: 234px;
    -fx-top: 98px;

    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 48px;
    -fx-line-height: 59px;
    /* identical to box height */

    -fx-text-fill: #397E82;

}

#instructionText{

    -fx-position: absolute;
    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 20px;
    -fx-line-height: 29px;
    -fx-text-align: center;

    -fx-text-fill: #000000;

}

#endButton{
    -fx-align-items: center;


    -fx-pref-width: 250px;
    -fx-pref-height: 80px;
    -fx-background-color: #397E82;
    -fx-box-shadow: inset 0px 5px 5px rgba(85, 91, 110, 0.15);
    -fx-background-radius: 15px;


    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 35px;
    -fx-line-height: 40px;
    -fx-text-fill: #F7F6FE;

}

#waitSign{
    -fx-position: absolute;
    -fx-pref-width: 21px;
    -fx-pref-height: 21px;
    -fx-left: 334px;
    -fx-top: 201px;

    -fx-background-color: rgba(57, 126, 130, 0.64);
}

#labelError{
    /* Error Message */

    -fx-position: absolute;
    -fx-max-width: 354px;
    -fx-max-height: 59px;
    -fx-left: 248px;
    -fx-top: 289px;

    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-font-size: 48px;
    -fx-line-height: 59px;
    /* identical to box height */

    -fx-text-fill: #000000;
}
#lbl_goodjob{
    -fx-text-fill: #000;
    -fx-font-family: Montserrat;
    -fx-font-size: 48px;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-line-height: normal;
}
#lbl_username{
    -fx-text-fill: #397E82;
    -fx-font-family: Montserrat;
    -fx-font-size: 48px;
    -fx-font-style: normal;
    -fx-font-weight: bold; /* JavaFX uses 'bold' for font-weight 600 */
    -fx-line-height: normal;
}
#lbl_message{
    -fx-text-fill: #000;
    -fx-font-family: Montserrat;
    -fx-font-size: 36px;
    -fx-font-style: normal;
    -fx-font-weight: normal; /* JavaFX uses 'normal' for font-weight 500 */
    -fx-line-height: normal;
}