.label{
    -fx-font-family: Baloo2;
    -fx-font-size: 20px;
    -fx-text-fill: #397E82;
    -fx-alignment: CENTER;
}
#titleTxt,#title_lbl {
    -fx-font-size: 36px;
}
.progress-bar{
    -fx-accent: #397E82;
    -fx-pref-height: 28px;
}
#rating {
    -fx-font-size: 36px;
}