.label{
    -fx-font-family: "Baloo2 SemiBold";
    -fx-font-weight: Bold;
    -fx-font-size: 40px;
    -fx-text-fill: #397E82;
}
#questionlbl{
    -fx-text-alignment: center;
    -fx-alignment: Center;
    -fx-font-size: 24px;
}
.slider .track{
    -fx-background-color: #397E82;
    -fx-pref-height: 28px;
    -fx-border-radius: 3px;
}
.slider .track .filled{
    -fx-background-color: BLUE;
}
.slider .thumb{
    -fx-pref-height: 28px;
    -fx-pref-width: 28px;
    -fx-background-image: url("/static/images/slider_thumb.png");
}
#result_label{
    -fx-background-image: url("/static/images/popup.png");
    -fx-font-family: "Baloo2 SemiBold";
    -fx-font-size: 16px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}
#lowAnchor_label, #highAnchor_label{
    -fx-font-family: "Baloo2 SemiBold";
    -fx-font-size: 20px;
    -fx-alignment: center;
}