.label{
    -fx-font-family: "Baloo2";
    -fx-font-weight: normal;
    -fx-font-size: 40px;
    -fx-text-fill: #397E82;

}
#questionlbl{
    -fx-text-alignment: center;
    -fx-alignment: Center;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}
.tooltip {
    -fx-background-color: #e3e2e2;
    -fx-text-fill: #397E82;
    -fx-font-size: 18px;
    -fx-padding: 8px;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}

.slider .thumb{
    -fx-pref-height: 48px;
    -fx-pref-width: 48px;
    -fx-background-image: url("/static/images/thumb.png");
    -fx-background-color: transparent;
}
#result_label{
    -fx-background-image: url("/static/images/popup.png");
    -fx-font-family: "Baloo2 SemiBold";
    -fx-font-size: 16px;
    -fx-text-alignment: center;
    -fx-alignment: center;

}
#lowAnchor_label, #highAnchor_label{
    -fx-font-family: "Baloo2";
    -fx-font-size: 20px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-tile-alignment: center;
    -fx-text-fill: #397E82;
    -fx-font-weight: 700;

}

.slider .track{
    -fx-progress : 0.2;
    -fx-background-radius: 14px;
    -fx-pref-height: 28px;
    -fx-background-color: #D5E9EA;

}