.label{
    -fx-font-family: "Baloo2 SemiBold";
    -fx-font-weight: Bold;
    -fx-font-size: 40px;
    -fx-text-fill: #397E82;
}
.text-area{
    -fx-font-family: "Baloo2 SemiBold";
    -fx-font-size: 28px;
    -fx-text-fill: black;
}
.slider .track{
    -fx-pref-height: 28px;
    -fx-background-color: #D5E9EA;
    -fx-background-radius: 14px;

}
.slider .thumb{
    -fx-pref-height: 28px;
    -fx-pref-width: 28px;
    -fx-background-image: url("/static/images/slider_thumb.png");
    -fx-background-radius: 17px;
}
#result_label{
    -fx-background-image: url("/static/images/popup.png");
    -fx-font-family: "Baloo2 SemiBold";
    -fx-font-size: 16px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}
#lowAnchor_label, #highAnchor_label{
    -fx-font-family: "Baloo2 SemiBold";
    -fx-font-size: 16px;
    -fx-alignment: center;
}