.side
{


    -fx-background-color: #F7F6FE;

}
.main_bar {
    /* Table */

    /* Auto layout */
    -fx-display: flex;
    -fx-flex-direction: column;
    -fx-align-items: flex-start;
    -fx-padding: 0px;

    -fx-position: absolute;
    -fx-width: 1279px;
    -fx-height: 696px;
    -fx-left: 0px;
    -fx-top: 143px;



}
.name{
    -fx-font-family: 'Lucida Sans';
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-font-size: 45px;
    -fx-line-height: 50px;
    -fx-text-transform: capitalize;
    -fx-color: #624DE3;

}
#Dashboard1,#mainBar{

    -fx-background-color: #624DE3;

}
.dashBoardText{
    /* Dashboard */

    -fx-width: 778px;
    -fx-height: 61px;

    -fx-font-family: 'Inter';
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-font-size: 35px;
    -fx-line-height: 44px;
    -fx-display: flex;
    -fx-align-items: center;

    -fx-color-label-visible: #624DE3;


    /* Inside auto layout */
    -fx-flex: none;
    -fx-order: 1;
    -fx-flex-grow: 0;

}
.senseBar{
    /* Frame 26924 */


    -fx-background-color: rgba(202, 209, 208, 0.25);

}
.addDocumentButton{
    /* Frame 17 */

    /* Auto layout */
    -fx-display-caret: flex;
    -fx-flex-direction: row;
    justify-content: center;
    -fx-align-items: center;
    -fx-padding: 8px 12px;
    -fx-gap: 8px;

    -fx-max-width: 139px;
    -fx-max-height: 32px;

    -fx-background-color: #624DE3;
    -fx-border-radius: 8px;



}
.button1{
    /* Frame 117 */

    /* Auto layout */
    -fx-font-family: 'Times New Roman';
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 14px;


    -fx-align-items: left;
    -fx-padding: 16px;
    gap: 16px;

    -fx-background-color: #FFFFFF;
    -fx-border-radius: 5px;

}
#SenseXPBar{
    /* Frame 26924 */


    -fx-background-color: rgba(202, 209, 208, 0.25);

}