.text{
    -fx-font-family: "Baloo Bhaina 2";
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 15px;
    -fx-line-height: 25px;
    -fx-text-fill:#0E0E0E;
}

.tree-view .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}
.tree-view .scroll-bar:horizontal{
    -fx-opacity: 0;
    -fx-pref-width: 0;
}
.tree-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-background-radius:2em;
    -fx-border-radius: 2em;
    -fx-border-color: transparent

}
.tree-view .scroll-bar:horizontal .decrement-button{
    -fx-padding: 0 ,0 ,10,0;
    -fx-background-color: white;
    -fx-background-radius:0em;

}
.tree-view .scroll-bar:vertical .decrement-button{
    -fx-background-color: transparent;
    -fx-background-radius:0em;
    -fx-padding: 0 10  0  0;

}
.tree-view .scroll-bar:vertical .increment-arrow,
.tree-view .scroll-bar:vertical .decrement-arrow{
    -fx-padding: -2;

}
.tree-view .scroll-bar:vertical .thumb {
    -fx-background-color: #397E82;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.tree-cel:odd {
    -fx-background-color: #F1F6FB;
    -fx-text-fill: black;
}